@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

*{
  font-family: 'Lato';
}

h1{
  margin-left: auto;
  margin-right: auto;
}

main{
  display: flex;
  justify-content: space-between;
}

.App{
  width: 100%;
  background-color: #e0e0e0;
}

.ItemHolder{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  background-color: #eeeeee;
  box-shadow: 0px 0px 4px #444;
}

.Item{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 290px;
  height: 650px;
  background-color: #efefff;
  border: 1px solid #555;
  position: relative;
}

.Item h2{
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.Item h3{
  display: block;
  font-size: 19px;
}

.Item p, h2, h3{
  margin-left: 7px;
}

.Item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 2px solid #888;
}

.Item div{
  width: 90%;
}

.Item header{
  height: 15%;
}

.cart-btn{
  width: 100%;
  color: #eee;
  background-color: #333388;
  border-top: 1px solid #333;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cart-btn:hover{
  background-color: #555588;
}

.cart-btn:disabled{
  background-color: #777788;
}

.CartItemHolder{
  display: flex;
  justify-content: space-between;
  border: 1px #222 solid;
  background-color: #eeeeff;
  height: 100%;
  width: auto;
}

.display-cart{
  height: 100%;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: #ccccff;
}

.display-cart img{
  width: 75%;
}

.cart-side{
  width: 40px;
  height: 600px;
  background-color: #ccccff;
  border: 1px #222 solid;
}

.cart-contents-off{
  color: #111;
  display: none;
}
.cart-contents-on{
  width: 400px;
  display: block;
  position: relative;
}

.purchase{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  color: #eee;
  background-color: #333388;
  border: 2px solid #333;
  border-radius: 0;
  height: 45px;
  width: 100%;
}

.purchase:hover{
  background-color: #555588;
}

.CartItem{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.CartItem h2{
  font-size: 15px;
}

.CartItem h3{
  font-size: 14px;
}


.RecentOrderHolder{
  display: flex;
  justify-content: space-between;
  border: 1px #222 solid;
  background-color: #eeeeff;
  height: 100%;
  width: auto;
}

.display-orders{
  height: 100%;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: #ccccff;
}

.display-orders img{
  width: 75%;
}

.order-side{
  width: 40px;
  height: 600px;
  background-color: #ccccff;
  border: 1px #222 solid;
}

.order-contents-off{
  color: #111;
  display: none;
}
.order-contents-on{
  width: 400px;
  display: block;
  position: relative;
}
